body {
  background: #222426;
}
textarea {
  background: #222426;
}
p h1{
  font-size: 75%;
  color: #08e8df;
}
input {
  background: url("https://raw.githubusercontent.com/k239i/token-getter-web/main/IMG_3791.png");
  background-color: #444446;
}
